<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css'>

<%= render "shared/jplayer-js-2" %>
<%= render "shared/jplayer-js-1" %>

<meta charset="utf-8" />
<!-- Website Design By: www.happyworm.com -->
<title>Demo : jPlayer as an audio playlist player</title>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

  new jPlayerPlaylist({
    jPlayer: "#jquery_jplayer_1",
    cssSelectorAncestor: "#jp_container_1"
  }, [

   <% @songs.each_with_index do |song, i| %> 
    {
      title:"<div class='latest-release' style='width: 100%!important' ><div class='latest-release__art' style='position:relative'>   <img align='top' src='https://via.placeholder.com/72/000000/FFFFFF/?text=<%= avataryze(song.title) %>' alt='by Name'>  </div> <div class='latest-release__song' > <div class='latest-release__song__title'>     <button onClick='window.location='yahoo.com';' style='padding: 0px; margin: 0px'><%= (song.title.titleize).truncate (50) if song.title %> </button>      </div> <div class='latest-release__song__date'> <small class='month'>  <% if signed_in? and current_profile == song.profile  %>  <button onclick='location.href=\"<%= edit_song_path(song) %>\";' class= 'dropdown-item'><i class='fas fa-edit'></i>Edit</button>  <% end %> </small>            <span class='wht up-no-mobile' style='float: right;'> <button onclick='location.href=\"<%= new_song_path(song) %>\";' class= 'dropdown-item'><i class='fas fa-edit'></i>Upload</button>      </div></div></div>  &nbsp;",


            <% if song.mp3_audio.attached? %>
            mp3:"<%= rails_blob_url(song.mp3_audio) %>",
            oga:"<%= rails_blob_url(song.mp3_audio) %>"
             <% end %>
    },
    <% end %>


  ], {
    swfPath: "../../dist/jplayer",
    supplied: "oga, mp3",
    wmode: "window",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    keyEnabled: true
  });
});
//]]>
</script>
</head>
<body>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
  <div class="jp-type-playlist">
    <div class="jp-gui jp-interface">
      <div class="jp-controls">
        <button class="jp-previous" role="button" tabindex="0">previous</button>
        <button class="jp-play" role="button" tabindex="0">play</button>
        <button class="jp-next" role="button" tabindex="0">next</button>
        <button class="jp-stop" role="button" tabindex="0">stop</button>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-controls">
        <button class="jp-mute" role="button" tabindex="0">mute</button>
        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
      </div>
      <div class="jp-toggles">
        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
        <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
      </div>
    </div>
    <div class="jp-playlist">
      <ul>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>



<%#= render partial: "ad", collection: @songs %>



       <% @songs.each do |song| -%>
      <%= song.title %>

      <% if signed_in? %>
          <p>
          <% if profile_liked?(song.id, current_profile.id) %>

          <%= song.likes.count %> <%= link_to 'favorite', song_like_path(song, like_id(song.id)), method: :delete,  class: 'material-icons' %>

          <% else %>
            <%= link_to 'favorite_border', song_likes_path(song), method: :post,  class: 'material-icons' %>
          <% end %>
          </p>
          <% end %>


      <br>
    <% end -%>

<br><br>



  </div>
</div>
</body>

</html>
